.center {
  width: 100%;
  text-align: center;
}

.baseHead {
  color: var(--black);
  font-family: var(--headline-font);
  font-weight: 400;
  line-height: 1.5;

  &.underline {
    display: inline;
    --underline-width-scale: calc(
      var(--underline-width) / var(--underline-intrinsic-width)
    );
    padding: 0 calc(var(--underline-padding-x) * var(--underline-width-scale));
    box-decoration-break: clone;
    background-repeat: no-repeat;
    background-image: linear-gradient(
      180deg,
      var(--underline-color),
      var(--underline-color)
    );
    background-position-x: calc(
        var(--underline-cap-width) * var(--underline-width-scale)
      ),
      0, 100%;
    background-position-y: calc(70% - var(--underline-offset-y) * 2);
    background-size: calc(
          100% -
            calc(var(--underline-cap-width) * var(--underline-width-scale) * 2)
        )
        calc(var(--underline-width) * 1px),
      auto calc(var(--underline-width) * 1px),
      auto calc(var(--underline-width) * 1px);

    --underline-width: 20;
    --underline-offset-y: -2px;
  }

  &.margin {
    margin-bottom: 1.5rem;
  }

  &.mainHead {
    position: relative;
    z-index: 2;
    font-size: var(--main-head-size);
  }

  &.subHead {
    position: relative;
    z-index: 2;
    font-size: var(--secondary-head-size);
  }
}

.sanserif {
  font-size: var(--secondary-head-size);
  color: var(--primary-color-dark);
  text-transform: uppercase;
  line-height: 1.5;

  &.center {
    text-align: center;
  }

  &.margin {
    margin-bottom: 1.5rem;
  }
}
