.container {
  margin: 9rem auto;
  background: var(--primary-color-light);
  max-width: 900px;

  .wrapper {
    margin: 0 auto;
    padding: 4rem 4rem;
  }
}

.secondaryContainer {
  .wrapper {
    margin: 0 auto;
    padding: 4rem 4rem;
  }
}

@media (max-width: 768px) {
  .container {
    .wrapper {
      padding: 9rem 1rem;
    }
  }

  .secondaryContainer {
    .wrapper {
      padding: 9rem 1rem;
    }
  }
}
